<ng-container *ngIf="post">
<div  class="card m-3">
        <div class="card-header">
          <h5 class="card-title">{{ post.author.name }}</h5>
            <small>{{ post.created_time | myDate }}</small>
        </div>
          <img
              *ngIf="post.images"
              [src]="post.images[0]" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
                {{ post.body }}
            </p>
          </div>
        </div>
    </ng-container>
