<h2>Logowanie</h2>

<app-loader *ngIf="loginLoading"></app-loader>

<p *ngIf="loginError" class="alert alert-danger">{{ loginError }}</p>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="email.invalid && email.dirty" [(ngModel)]="user.email" required name="email" #email="ngModel" placeholder="email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="password.invalid && password.dirty" [(ngModel)]="user.password" required name="password" #password="ngModel" placeholder="password">
    </div>

    <button class="btn btn-primary"
        [disabled]="loginForm.invalid"
    >Zaloguj</button>

</form>