<h2>Rejestracja</h2>

<app-loader *ngIf="registrationLoading"></app-loader>

<p *ngIf="registrationError" class="alert alert-danger">{{ registrationError }}</p>

<p *ngIf="registrationSuccess" class="alert alert-success">Rejestracja zakończona pomyślnie</p>

<form [formGroup]="registerForm" (submit)="onSubmit()" *ngIf="!registrationSuccess">
    <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="name.invalid && name.dirty" formControlName="name" name="name" placeholder="name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="email.invalid && email.dirty" formControlName="email" name="email" placeholder="email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="password.invalid && password.dirty" formControlName="password" name="password" placeholder="password">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="confirmPassword.invalid && confirmPassword.dirty" formControlName="confirmPassword" name="confirmPassword" placeholder="confirmPassword">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="avatarUrl.invalid && avatarUrl.dirty" formControlName="avatarUrl" name="avatarUrl" placeholder="avatarUrl">
    </div>

    <button class="btn btn-primary"
            [disabled]="registerForm.invalid"
        >Zarejestruj się</button>

</form>
